<div class="gradient-background">
  <div class="container flex flex-col gap-6">
    <header class="header p-6 rounded-lg text-white">
      <h1 class="text-3xl font-bold">ConectaPet 🐾</h1>
      <p class="mt-2">
        Descubre los mejores pipicanes de la ciudad y decide cuál es el mejor para tu perro. 
      </p>
    </header>
    <main class="flex flex-col md:flex-row gap-6">
  
      <section class="map-card w-full md:w-2/3 h-64 md:h-96 shadow-lg rounded-lg overflow-hidden">
        <div class="map-container h-full" id="map"></div>
      </section>
      <aside class="sidebar w-full md:w-1/3 bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-xl font-bold mb-4">🔍 Buscar Pipican</h2>
        <div class="search-input mb-4">
          <label for="pipican-search" class="sr-only">Buscar Pipican</label>
          <input
            id="pipican-search"
            type="text"
            [(ngModel)]="searchTerm"
            placeholder="Escribe el nombre del pipican"
            class="input input-bordered w-full "
          />
        </div>


        <section class="search-results">
          @if (searchTerm.trim() !== '') {
            @if (filteredPipicans().length > 0) {
              <ul class="pipican-list space-y-2">
                @for (pipican of filteredPipicans(); track pipican) {
                  <li
                    class="result-item bg-gray-100 p-3 rounded-lg hover:bg-gray-200 cursor-pointer"
                    (click)="goToPipican(pipican)"
                  >
                    <strong>{{ pipican.name }}</strong> - {{ pipican.barrio }}
                  </li>
                }
              </ul>
            } @else {
              <p class="no-results text-gray-500 mt-4">No se encontraron pipicanes.</p>
            }
          }
        </section>
      </aside>
    </main>
  </div>


  <app-modal [selectedPipican]="selectedPipican()"></app-modal>
</div>
