<nav class=" bg-[#FFD700] px-6 sm:px-12 flex justify-between items-center">
  <div class="flex-1">
    <img class= "logo"src="assets/logo.png" alt="PipiPark Logo" 
         class="h-32 sm:h-40 md:h-48 lg:h-56 xl:h-64 w-auto object-contain transform scale-125 sm:scale-150 md:scale-175 lg:scale-200">
  </div>
  <div class="flex-none flex flex-col gap-2 ">
    <button class="btn btn-sm btn-outline bg-white text-black ">Login</button>
    <button class="btn btn-sm btn-outline bg-gray-100 text-black ">Register</button>
  </div>
</nav>
<main class="flex flex-col items-center text-center bg-[#FFD700] pt-6 sm:pt-8 px-6 sm:px-12 w-full min-h-screen overflow-hidden">
  

  <img src="assets/fotoperritos.jpg" alt="Grupo de Perritos"
       class="w-full max-w-xs sm:max-w-md md:max-w-lg lg:max-w-4xl h-auto object-cover rounded-3xl shadow-lg border-4 border-purple-400 mt-4 sm:mt-6" />

  <p class="text-lg sm:text-xl md:text-2xl font-semibold text-gray-800 mt-4 sm:mt-5">
    Haz amigos para tu peludo y descubre quién está en el parque.
  </p>
  <button class="mt-4 sm:mt-5 px-6 sm:px-8 py-3 bg-black text-white text-lg font-semibold rounded-full shadow-lg hover:bg-gray-800 transition duration-300">
    Explorar
  </button>
</main>

