<div class="min-h-screen w-full flex lg:flex-row">
  <aside class="hidden lg:flex flex-col w-64 bg-gray-900 text-gray-200 py-6 px-4 space-y-4 h-screen sticky top-0">
    <img src="assets/connectapetLogo.png">
    <nav class="mt-6 flex-grow">
      <a (click)="goToMap()" class="block py-2 px-4 rounded-lg hover:bg-purple-600 cursor-pointer">📍 Mapa</a>
      <a (click)="goToRegister()" class="block py-2 px-4 rounded-lg hover:bg-purple-600 cursor-pointer">📆 Registro</a>
      <a (click)="goToLogin()" class="block py-2 px-4 rounded-lg hover:bg-purple-600 cursor-pointer">🔑 Iniciar sesión</a>
      <a (click)="logout()" *ngIf="authService.isAuthenticated()" class="block py-2 px-4 rounded-lg hover:bg-red-600 cursor-pointer">🚪 Cerrar sesión</a>
    </nav>
  </aside>
  <div class="relative flex flex-col lg:flex-row items-center justify-between flex-grow px-6 sm:px-10 lg:px-16 py-8">
    <div class="lg:w-1/2 flex flex-col items-center lg:items-start text-center lg:text-left relative z-10">
      <h1 class="text-gray-800 text-3xl sm:text-4xl md:text-5xl font-bold mt-4">¡Conecta a tu perro con nuevos amigos!</h1>
      <p class="text-gray-600 text-lg mt-2 max-w-md">Descubre quién está en el parque y comparte momentos únicos.</p>
      <button class="mt-6 px-6 py-3 btn btn-md rounded-full bg-purple-500 text-white hover:bg-purple-600 transition-transform transform hover:scale-105 duration-300" (click)="goToMap()">
        Explorar
      </button>
     
      <div class="mt-6 flex gap-4">
        <button class="btn btn-outline bg-purple-300 text-black px-6 py-2" (click)="goToLogin()">Iniciar sesión</button>
        <button class="btn btn-outline bg-gray-100 text-black px-6 py-2" (click)="goToRegister()">Registrarse</button>
      </div>
    </div>
    <div class="absolute inset-0 lg:relative lg:w-1/2 flex justify-center lg:justify-end h-full">
      <img src="assets/jagerPeque_no_bg.png" alt="Jager" class="w-full h-full object-cover lg:absolute inset-0">
    </div>
  </div>
</div>


<footer class="bg-gray-800 text-gray-300 py-6 text-center w-full relative z-10">
  <p class="text-sm">© 2025 ConnectaPet. Todos los derechos reservados.</p>
  <div class="mt-2 space-x-4">
    <a href="#" class="hover:text-purple-400">Privacidad</a>
    <a href="#" class="hover:text-purple-400">Términos de uso</a>
    <a href="#" class="hover:text-purple-400">Contacto</a>
  </div>
</footer>