.login-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
  }
  .logo {
    width: 6rem; 
    height: auto;
  }
  
  .background-image {
    background-image: url('/assets/perritos-login.webp');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 0.8;
  

  }
  

  @media (max-width: 700px) {
¡
 
    .logo {
      width: 1rem;
      height: auto;

    }
    .card {
      max-height: 60vh;
      max-width: 95%;   
      padding: 1rem;
      padding-top: 0;
    }
    .login-wrapper .flex {
      align-items: flex-start; 
      margin-top: 2rem; 
    }
  .background-image {
    background-image: url('/assets/perritos-login-recortada.jpg'); 
    background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  }
}