
<div class=" flex justify-center items-center min-h-screen bg-yellow-200">
  <button (click)="goToHome()"
          class="btn btn-circle btn-outline absolute top-4 right-4 hover:bg-purple-500 hover:text-white transition">
    <svg xmlns="http://www.w3.org/2000/svg"
         class="h-6 w-6"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor">
      <path stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
    <div class="card w-[95%] max-w-lg bg-white shadow-2xl p-8 rounded-xl">
      <div class="flex justify-center">
        <img src="assets/perrito.png" 
             alt="Perrito"
             class="w-32 h-32 mb-4">
      </div>
      <h2 class="text-3xl font-bold text-center text-gray-900 mb-6">
         Inicia sesión en Connectapet 🐾
      </h2>
      <label class="block text-gray-700 font-semibold mb-2">Correo Electrónico</label>
      <input type="email"
             [(ngModel)]="email"
             class="input input-bordered w-full px-4 py-3 text-gray-900 rounded-lg shadow-md mb-4"
             placeholder="Introduce tu correo">
      <label class="block text-gray-700 font-semibold mb-2">Contraseña</label>
      <input type="password"
             [(ngModel)]="password"
             class="input input-bordered w-full px-4 py-3 text-gray-900 rounded-lg shadow-md mb-6"
             placeholder="Introduce tu contraseña">
      <button class="btn btn-primary w-full py-3 text-lg font-bold shadow-md"
              (click)="login()">
        Entrar
      </button>
      <p class="text-center text-gray-700 mt-4">
        ¿No tienes cuenta? 
        <a (click)="goToRegister()" class="text-blue-600 font-semibold cursor-pointer hover:underline">
          Regístrate aquí
        </a>
      </p>
    </div>
  </div>
