<footer 
  class="bg-gray-800 text-gray-300 py-3 text-center w-full relative z-10 text-sm"
>
  <p>© 2025 ConnectaPet. Created by Silvia Tuiran</p>

  <div class="mt-2 flex flex-col sm:flex-row items-center justify-center gap-2 sm:gap-4">
    <a href="#" class="hover:text-purple-400">Privacidad</a>
    <a href="#" class="hover:text-purple-400">Términos de uso</a>
    <a href="#" class="hover:text-purple-400">Contacto</a>
  </div>

  <div class="mt-4 flex justify-center gap-6">
    <a href="https://www.instagram.com/silvitui" target="_blank" rel="noopener noreferrer" class="hover:text-purple-400 transition">
      <i class="fa-brands fa-instagram text-2xl"></i>
    </a>
    <a href="https://www.linkedin.com/in/silviatuiran/" target="_blank" rel="noopener noreferrer" class="hover:text-purple-400 transition">
      <i class="fa-brands fa-linkedin text-2xl"></i>
    </a>
    <a href="https://github.com/Silvitui" target="_blank" rel="noopener noreferrer" class="hover:text-purple-400 transition">
      <i class="fa-brands fa-github text-2xl"></i>
    </a>
  </div>
</footer>
