

.animate-slide-left,
.animate-slide-right {
  animation: slideUpFade 0.6s ease-in-out forwards;
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.97);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}



.register-layout {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
 

}

.register-box {
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 800px) {

  .register-layout {
    align-items: flex-start;
    margin-top: 2rem;
  }


  .register-box {
    max-width: 95%;
    max-height: 60vh;
    padding: 1rem;
    padding-top: 0;
    transform: scale(0.9);
  }

  .register-box .logo {
    width: 1rem !important;
    height: auto;
  }


}
.register-wrapper {
  height: 100vh;
  overflow: hidden;
}

